body {
  margin: 20px;
  padding: 0;
  background-size: 100% 100%;
  background-image: cross-fade(10px);
}
ul.head {
  display: flex;
  list-style-type: none;
  padding: 5rem;
  margin: 0;
}
ul.head li {
  justify-content: first baseline;
  justify-content: center;
  margin-right: 5rem;
}

@media (max-width: 600px) {
  ul.head {
    flex-direction: row;
    justify-content: space-between;
  }
  ul.head li {
    margin: 3rem 0;
  }
}
@media (max-width: 400px) {
  ul.head {
    flex-direction: column;
    justify-content: center;
  }
  ul.head li {
    margin: 0 2rem;
  }
}
